{% extends 'graph/base.html' %}

{% block title %}Reference Dates{% endblock title %}

{% block scripts %}
<script>
    $(document).ready(function(){
const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{% for item in qs%}'{{item.disease}}',{% endfor %}],
        datasets: [{
            label: '% of References',
            data: [{% for item in qs%}{{item.refs}},{% endfor %}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
            ],
            borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(255, 99, 132, 1)',
            'rgba(255, 99, 132, 1)',
            'rgba(255, 99, 132, 1)'
            ],
            borderWidth: 1
        },{
            label: '% of Clinical Trials',
            data: [{% for item in qs%}{{item.trials}},{% endfor %}],
            backgroundColor: [
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)'
            ],
            borderColor: [
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
    })
</script>
{% endblock scripts %}

{% block content %}
<div class="container">
    <h1>Topic Distribution Between the References and the Clinical Trials</h1>
</div>
    <canvas id="myChart" width="400" height="200"></canvas>
{% endblock content %}